#cssmenu {
  border: none;
  border: 0px;
  margin: 10px 0px;
  padding: 0px;
  font: 100% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: auto;
}
#cssmenu ul {
  background: url('../images/menu/button_bg.png') bottom right repeat;
  height: 53px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu li {
  float: left;
  padding: 0px;
}
#cssmenu li a {
  border-left: solid #000000 1px;
  border-bottom: solid #000000 1px;
  display: block;
  font-weight: normal;
  line-height: 53px;
  margin: 0px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
}
#cssmenu > ul > li > a {
  color: #cccccc;
}
#cssmenu ul ul a {
  color: #cccccc;
}
#cssmenu li > a:hover,
#cssmenu ul li:hover > a {
  background: url('../images/menu/buttonhover_bg.png') bottom right repeat;
  color: #FFFFFF;
  text-decoration: none;
}
#cssmenu li ul {
  background: #333333;
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 225px;
  z-index: 200;
  /*top:1em;
  /*left:0;*/

}
#cssmenu li:hover ul {
  display: block;
}
#cssmenu li li {
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
}
#cssmenu li:hover li a {
  background: none;
}
#cssmenu li ul a {
  display: block;
  height: 53px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}
#cssmenu li ul a:hover,
#cssmenu li ul li:hover > a {
  background: #222222;
  border-left: solid #000000 1px;
  color: #ffffff;
  text-decoration: none;
}
/* SUB MENU :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
#submenu{
position:relative;
right:0px;
top:0px;
padding-top: 10px;
padding-bottom: 10px;
width: 100%;
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}
#submenu ul{
margin:0;
padding: 0;
list-style: none;
}
#submenu li{
display: inline;
margin: 0px 0px 0px 0px;
padding: 10px;
text-transform:uppercase;
}
#submenu a{
float: left;
display: block;
font: bold 11px Arial;
color: white;
text-decoration: none;
margin: 0 5px 0 0; /*Margin between each menu item*/
padding: 5px 10px;
background-color: #333333; /*Brown color theme*/ ;
border:1px solid #555555;
}
#submenu a:hover{
background-color: #666666; /*Brown color theme*/ 
color: white;
}
