<table border="0" cellpadding="2" cellspacing="0">
  <tr> 
    <td>
	  <input type="button" accesskey="b" value="B" style="width: 30px;" onClick="AddB()">
	  <input type="button" accesskey="u" value="U" style="width: 30px;" onClick="AddU()"> 
      <input type="button" accesskey="i" value="I" style="width: 30px;" onClick="AddI()"> 
	  <input type="button" accesskey="e" value=" @ " style="width: 30px;" onClick="AddLink('EMAIL')"> 
	  <input type="button" accesskey="w" value="http://" style="width: 45px;" onClick="AddLink('URL')">
	  <input type="button" accesskey="p" value="IMG" style="width: 35px;" onClick="AddImg()">
	  <input type="button" accesskey="l" value="List" style="width: 35px" onClick="AddList()">
	  <input type="button" accesskey="q" value="Quote" style="width: 45px" onClick="AddQuote()">
      <input type="button" accesskey="t" value="Player" style="width: 50px" onClick="AddPlayer()">
    </td>
  </tr>
</table>
