<form action="./admincp.php?site=personedit" method="post">
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%"><h1>&#8226; ENTER USER ID</h1></td>
    <td width="50%" align="right"><h5>&nbsp;</h5></td>
  </tr>
</table>
</div>
<div id="maincontent">
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td width="200"><h4>USER ID:</h4></td>
    <td><h4><input name="memberID" type="text" id="memberID" maxlength="20" /></h4></td>
  </tr>
  <tr>
    <td></td>
    <td><input name="search" type="submit" id="search" value="search" /></td>
  </tr>
</table>
</div>
</form>