<form action="./admincp.php?site=search" method="post">
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%"><h1>&#8226; SEARCH</h1></td>
    <td width="50%" align="right"><h5>search results are limited to 50</h5></td>
  </tr>
</table>
</div>
<div id="maincontent">
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td width="200"><h4>Search:</h4></td>
    <td><h4><select name="for" id="for"><option value="users">Member</option><option value="teams">Team</option></select></h4></td>
  </tr>
  <tr>
    <td><h4>&nbsp;</h4></td>
    <td><h4><input name="term" type="text" id="term" maxlength="20" /></h4></td>
  </tr>
  <tr>
    <td></td>
    <td><input name="search" type="submit" id="search" value="search" /></td>
  </tr>
</table>
</div>
</form>