<script src="js/bbcode.js" language="jscript" type="text/javascript"></script>
<form action="index.php?site=comments" method="post" name="post">  
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%"><h1>&#8226; NEW COMMENT</h1></td>
    <td width="50%" align="right">
    <input name="id" type="hidden" id="id" value="$id" />
    <input name="section" type="hidden" id="section" value="$section" /><input type="submit" name="post" id="post" value="comment" />
    </td>
  </tr>
</table>
</div>
<div id="maincontent">
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td>$addbbcode</td>
  </tr>
  <tr>
    <td><textarea style="width:100%; resize: none;" name="content" class="form_off" onFocus="this.className='form_on'" onBlur="this.className='form_off'" id="content"></textarea></td>
  </tr>
</table>
</div>
</form>
