<form action="index.php?site=editmatch" method="post" name="post">  
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226; EDIT MATCH</h1></td>
  </tr>
</table>
</div>
<div id="maincontent">
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td><h4>Match ID:</h4></td>
    <td><input type="text" name="matchID" id="matchID" /></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" name="edit" id="edit" value="edit" /></td>
  </tr>
  <tr>
    <td width="200"></td>
    <td></td>
  </tr>
</table>
</div>
</form>