<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226; Ladder $ladderTITLE</h1></td>
  </tr>
</table>
</div>
<div id="maincontent">
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td width="200"><h4>Game:</h4></td>
    <td><h5>$gameTITLE</h5></td>
    <td width="400" rowspan="3">
      <div style="width:400px; height:50px; background-image: url(./images/games/$pic); padding: 5px; border:1px solid #555555; border-radius:10px; box-shadow: 3px 3px 5px #000000;"></div>
    </td>
  </tr>
  <tr>
    <td><h4>Gamemode:</h4></td>
    <td><h5>$gamemode</h5></td>
  </tr>
  <tr>
    <td><h4>Active since:</h4></td>
    <td><h5>$date</h5></td>
  </tr>
</table>
	<div id="submenu">
      <ul>
        <li><a href="index.php?site=ladderinfo&amp;ladderID=$ladderID&amp;action=ranking" title="Home">RANKING</a></li>
        <li><a href="index.php?site=ladderinfo&amp;ladderID=$ladderID&amp;action=maplist" title="New">MAPS</a></li>
        <li><a href="index.php?site=ladderinfo&amp;ladderID=$ladderID&amp;action=rules" title="DHTML Forums">RULES</a></li>
        $joinBT
      </ul>
    </div>
</div>