<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%"><h5>Wellcome, <a href="index.php?site=personinfo&amp;pid=$pid">$nick</a>!</h5></td>
  </tr>
</table>
</div>
<div id="maincontent">
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td align="center"><div id="profileimage" style="background-image: url(images/avatars/$avatarURL);"></div></td>
  </tr>
  <tr>
    <td><h5><a href="admin/admincp.php" target="_blank">$adminCP</a></h5></td>
  </tr>
  <tr>
    <td><h5><a href="index.php?site=notifications">notifications (</a>$count<a href="index.php?site=notifications">)</a></h5></td>
  </tr>
  <tr>
    <td><h5>&#8226; <a href="index.php?site=matches">matches</a></h5></td>
  </tr>
  <tr>
    <td><h5>&#8226; <a href="index.php?site=personinfo&amp;pid=$pid">my settings</a></h5></td>
  </tr>
  <tr>
    <td height="5"></td>
  </tr>
  <tr>
    <td><h5>&#8226; <a href="logout.php">logout</a></h5></td>
  </tr>
</table>
</div>
