<form action="checklogin.php" method="post">
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%"><h1>&#8226; LOGIN</h1></td>
  </tr>
</table>
</div>
<div id="maincontent">
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td><h5>Username:</h5></td>
  </tr>
  <tr>
    <td><h5><input name="username" type="text" id="username" maxlength="15" /></h5></td>
  </tr>
  <tr>
    <td><h5>Password:</h5></td>
  </tr>
  <tr>
    <td><input name="password" type="password" id="password" maxlength="15" /></td>
  </tr>
  <tr>
    <td><input type="submit" name="login" id="login" value="log in" /></td>
  </tr>
  <tr>
    <td><h5><a href="./index.php?site=register">&#8226; register</a></h5></td>
  </tr>
  <tr>
    <td><h5>&#8226; lost password</h5></td>
  </tr>
</table>
</div>
</form>
