<div id="maintitle">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%"><h1>&#8226; MATCHES</h1></td>
    <td width="50%"></td>
  </tr>
</table>
</div>
<div id="maincontent">
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td colspan="2">
      <table width='100%' border='0' cellspacing='0' cellpadding='0'>
        <tr>
          <td width='50'><h4>mID:</h4></td>
          <td><h4>Teams:</h4></td>
          <td width='200'><h4>Game:</h4></td>
          <td width="200"><h4>Ladder:</h4></td>
          <td width="100" align="center"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>