<script src="js/bbcode.js" language="jscript" type="text/javascript"></script>
<form action="index.php?site=messagenew" method="post" name="post">  
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%"><h1>&#8226; NEW MESSAGE</h1></td>
  </tr>
</table>
</div>
<div id="maincontent">
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td width="150"><h4>Reciever:</h4></td>
    <td><h5><input name="memberID" type="text" id="memberID" value="$memberID" size="8" maxlength="5" /> member ID</h5></td>
  </tr>
  <tr>
    <td><h4>Title:</h4></td>
    <td><input name="title" type="text" id="title" maxlength="60" /></td>
  </tr>
  <tr>
    <td></td>
    <td>$addbbcode</td>
  </tr>
  <tr>
    <td valign="top"><h4>Message:</h4></td>
    <td><textarea style="width:100%; resize: none;" name="content" class="form_off" onFocus="this.className='form_on'" onBlur="this.className='form_off'" id="content"></textarea></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" name="send" id="post" value="send" /></td>
  </tr>
</table>
</div>
</form>
