<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1><a href="index.php?site=newsview&amp;newsID=$newsID">&#8226;  $title</a><a href="index.php?site=personinfo&amp;pid=$newsID"></a></h1></td>
  </tr>
</table>
</div>
<div id='textcontent'><h5>$content</h5></div>
<div id='textbottom'>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%" align="right"><h4><a href="index.php?site=personinfo&amp;pid=$authorID">$authorNAME</a> on $date</h4></td>
  </tr>
</table>
</div>