<form action="index.php?site=resultprocess" method="post">
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%"><h1>&#8226; <a href="index.php?site=teaminfo&amp;teamID=$opponent1">$opponent1name</a> vs <a href="index.php?site=teaminfo&amp;teamID=$opponent2">$opponent2name</a></h1></td>
    <td width="50%" align="right"> <h2>MATCH ID: $matchID</h2></td>
  </tr>
</table>
</div>
<div id="maincontent">
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td width="150"><h4>Score:</h4></td>
    <td><h5><a href="index.php?site=teaminfo&amp;teamID=$opponent1">$opponent1name</a> vs <a href="index.php?site=teaminfo&amp;teamID=$opponent2">$opponent2name </a>($score)</h5></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><select name="status" id="status">
      <option value="correct" selected="selected">Yes this is correct result</option>
      <option value="notcorrect">No this is not correct result</option>
      <option value="conflict">Go into match conflict</option></select>	</td>
    </tr>
  <tr>
    <td><input name="matchID" type="hidden" id="matchID" value="$matchID" /></td>
    <td><input type="submit" name="accept" id="accept" value="accept" /></td>
  </tr>
</table>
</div>
</form>