<form action="index.php?site=resultprocess" method="post">
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%"><h1>&#8226; <a href="index.php?site=teaminfo&amp;teamID=$opponent1">$opponent1name</a> vs <a href="index.php?site=teaminfo&amp;teamID=$opponent2">$opponent2name</a></h1></td>
    <td width="50%" align="right"> <h2>MATCH ID: $matchID</h2></td>
  </tr>
</table>
</div>
<div id="maincontent">
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td><a href="index.php?site=teaminfo&amp;teamID=$opponent1">$opponent1name:</a></td>
    <td><h5>$score1</h5></td>
  </tr>
  <tr>
    <td><a href="index.php?site=teaminfo&amp;teamID=$opponent2">$opponent2name:</a></td>
    <td><h5>$score2</h5></td>
  </tr>
  <tr>
    <td width="200"><h4>Your claim:</h4></td>
    <td>
    <select name="status" id="status">
      <option value="canceled">Match was canceled</option>
      <option value="noshow1">$opponent1name did not show</option>
      <option value="noshow2">$opponent2name did not show</option>
      <option value="played">Match was played</option>
    </select>	</td>
    </tr>
  <tr>
    <td></td>
    <td>
    	<div class="box" id="result">
          <table width="200" border="0" cellspacing="2" cellpadding="2">
            <tr>
              <td><h5><a href="index.php?site=teaminfo&amp;teamID=$opponent1">$opponent1name:</a></h5></td>
              <td><input name="claim1" type="text" id="claim1" size="5" maxlength="3" /></td>
            </tr>
            <tr>
              <td><h5><a href="index.php?site=teaminfo&amp;teamID=$opponent2">$opponent2name:</a></h5></td>
              <td><input name="claim2" type="text" id="claim2" size="5" maxlength="3" /></td>
            </tr>
          </table>
      	</div>
      </td>
    </tr>
  <tr>
    <td align="left" valign="top"><h4>Describe situation:</h4></td>
    <td><textarea style="width:100%; resize: none;" name="content" id="content" cols="45" rows="5"></textarea></td>
  </tr>
  <tr>
    <td><input name="matchID" type="hidden" id="matchID" value="$matchID" /></td>
    <td><input type="submit" name="conflict" id="conflict" value="conflict" /></td>
  </tr>
</table>
</div>
</form>
<script src="js/score.js"></script>