<div id="maintitle">
  <table width='100%' border='0' cellspacing='0' cellpadding='0'>
  <tr>
    <td width='50%'><h1>&#8226; GUIDS</h1></td>
    <td width='50%' align='right'>$guidB</td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellpadding='1' cellspacing='1'>
  <tr>
    <td width='200' align='left'><h4>&nbsp;GUID NAME:</h4></td>
    <td><h4>&nbsp;VALUE:</h4></td>
    <td width='130' align='left'><h4>DATE:</h4></td>
    <td width='50' align='left'><h4>&nbsp;</h4></td>
  </tr>
</table>
</div>