<div id="maintitle">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226;  RANKING</h1></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellpadding='1' cellspacing='1'>
  <tr>
    <td width='40' align='left'><h4>#</h4></td>
    <td><h4>TEAM</h4></td>
    <td width='80' align='center'><h4>ACTIVITY</h4></td>
    <td width='30' align='center'><h4>W</h4></td>
    <td width='30' align='center'><h4>D</h4></td>
    <td width='30' align='center'><h4>L</h4></td>
    <td width='60' align='center'><h4>POINTS</h4></td>
	<td width='30' align='center'>&nbsp;</td>
  </tr>
</table>
</div>
