<form action="index.php?site=teamedit" method="post">
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%"><h1>&#8226; EDIT $teamNAME</h1></td>
  </tr>
</table>
</div>
<div id="maincontent">
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td width="150"><h4>Team name:</h4></td>
    <td><h4><input name="teamNAME" type="text" id="teamNAME" value="$teamNAME" maxlength="50" /></h4></td>
  </tr>
  <tr>
    <td><h4>Short tag:</h4></td>
    <td><h4><input name="teamTAG" type="text" id="teamTAG" value="$teamTAG" maxlength="10" /></h4></td>
  </tr>
  <tr>
    <td><h4>Web url:</h4></td>
    <td><input name="web" type="text" id="web" value="$web" size="35" maxlength="50" /></td>
  </tr>
  <tr>
    <td><input name="teamID" type="hidden" id="teamID" value="$teamID" /></td>
    <td><input type="submit" name="editteam" id="editteam" value="edit" /></td>
  </tr>
</table>
</div>
</form>