<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%"><h1>&#8226; Team $teamNAME</h1></td>
    <td width="50%" align="right">$editB</td>
  </tr>
</table>
</div>
<div id="maincontent">
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td width="150"><h4>Tag:</h4></td>
    <td><h5>$teamTAG</h5></td>
    </tr>
  <tr>
    <td><h4>Created:</h4></td>
    <td><h5>$date</h5></td>
    </tr>
  <tr>
    <td><h4>Rating:</h4></td>
    <td><img src="$ratingIMG" width="49" height="9" /></td>
    </tr>
  <tr>
    <td><h4>Team site:</h4></td>
    <td><h5><a href="http://$web/" target="_blank">$web</a></h5></td>
    </tr>
</table>
<div id="submenu">
      <ul>
        <li><a href="index.php?site=teaminfo&teamID=$teamID&amp;action=members" title="Home">MEMBERS</a></li>
        <li><a href="index.php?site=teaminfo&teamID=$teamID&amp;action=ladders" title="New">LADDERS</a></li>
        <li><a href="index.php?site=teaminfo&action=lastmatches&teamID=$teamID" title="New">LAST MATCHES</a></li>
      </ul>
    </div>
</div>