<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226; BRACKETS 16</h1></td>
  </tr>
</table>
</div>
<div id="maincontent">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="150">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r5s1NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s1">$r5s1NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r5s1s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r5m1">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r5s2NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s2">$r5s2NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r5s2s</h5>
            </div></td>
          </tr>
        </table>
      </div></td>
      <td width="150" rowspan="2">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r4s1NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s1">$r4s1NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r4s1s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="70" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r4m1">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r4s2NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s2">$r4s2NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r4s2s</h5>
            </div></td>
          </tr>
        </table>
      </div></td>
      <td width="120" rowspan="4">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r3s1NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r3s1">$r3s1NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r3s1s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="160" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r3m1">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r3s2NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r3s2">$r3s2NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r3s2s</h5>
            </div></td>
          </tr>
        </table>
      </div></td>
      <td width="120" rowspan="8">
            <div id="bracketgroup">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r2s1NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r2s1">$r2s1NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r2s1s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="340" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r2m1">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r2s2NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r2s2">$r2s2NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r2s2s</h5>
            </div></td>
          </tr>
        </table>
      </div></td>
      <td width="150" rowspan="16">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r1s1NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r1s1">$r1s1NAME</a></h5>
            </div></td>
          </tr>
        </table>
      </div></td>
      <td rowspan="16">&nbsp;</td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r5s3NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s3">$r5s3NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r5s3s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r5m2">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r5s4NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s4">$r5s4NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r5s4s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r5s5NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s5">$r5s5NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r5s5s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r5m3">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r5s6NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s6">$r5s6NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r5s6s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
      <td rowspan="2">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r4s3NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s3">$r4s3NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r4s3s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="70" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r4m2">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r4s4NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s4">$r4s4NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r4s4s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r5s7NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s7">$r5s7NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r5s7s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r5m4">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r5s8NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s8">$r5s8NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r5s8s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td width="120">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r5s9NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s9">$r5s9NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r5s9s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r5m5">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r5s10NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s10">$r5s10NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r5s10s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
      <td width="120" rowspan="2">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r4s5NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s5">$r4s5NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r4s5s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="70" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r4m3">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r4s6NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s6">$r4s6NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r4s6s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
      <td rowspan="4">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r3s3NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r3s3">$r3s3NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r3s3s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="160" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r3m2">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r3s4NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r3s4">$r3s4NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r3s4s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r5s11NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s11">$r5s11NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r5s11s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r5m6">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r5s12NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s12">$r5s12NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r5s12s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r5s13NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s13">$r5s13NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r5s13s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r5m7">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r5s14NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s14">$r5s14NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r5s14s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
      <td rowspan="2">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r4s7NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s7">$r4s7NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r4s7s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="70" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r4m4">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r4s8NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s8">$r4s8NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r4s8s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r5s15NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s15">$r5s15NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r5s15s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r5m8">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r5s16NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s16">$r5s16NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r5s16s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>    </tr>
  </table>
</div>
<script type=text/javascript> 
function changeon(x) {
	var classname = x.className;
	if (classname) {
		divs=document.getElementsByTagName("DIV"); 
		for (theDiv in divs) { 
			if (divs[theDiv].className==classname) divs[theDiv].id="bracketfieldselected";
		}
	}
}
function changeoff(x) {
	var classname = x.className;
	if (classname) {
		divs=document.getElementsByTagName("DIV"); 
		for (theDiv in divs) { 
			if (divs[theDiv].className==classname) divs[theDiv].id="bracketfield";
		}
	}
}
</script> 