<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%"><h1>&#8226; <a href="index.php?site=teaminfo&amp;teamID=$opponent1">$team1NAME</a> vs <a href="index.php?site=teaminfo&amp;teamID=$opponent2">$team2NAME</a></h1></td>
    <td width="50%" align="right"><h5 class="green">&nbsp;</h5></td>
  </tr>
</table>
</div>
<div id="maincontent">
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td width="150"><h4>TOURNAMENT:</h4></td>
    <td><h5><a href="index.php?site=tournamentinfo&amp;tournamentID=$tournamentID">$title</a></h5></td>
    <td align="right">&nbsp;</td>
  </tr>
  <tr>
    <td><h4>Gamemode:</h4></td>
    <td><h5>$gamemode</h5></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><h4>Teams:</h4></td>
    <td><h5><a href="index.php?site=teaminfo&amp;teamID=$opponent1" target="_blank"></a><a href="index.php?site=teaminfo&amp;teamID=$opponent1">$team1NAME</a> versus <a href="index.php?site=teaminfo&amp;teamID=$opponent2" target="_blank"></a><a href="index.php?site=teaminfo&amp;teamID=$opponent2">$team2NAME</a></h5></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><h4>SCORE:</h4></td>
    <td><h5>$score1 - $score2</h5></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><h4><a href="index.php?site=teaminfo&amp;teamID=$opponent1">$team1NAME</a> claim:</h4></td>
    <td><h5>$scorereport1</h5></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><h4><a href="index.php?site=teaminfo&amp;teamID=$opponent1">$team2NAME</a> claim:</h4></td>
    <td><h5>$scorereport2</h5></td>
    <td>&nbsp;</td>
  </tr>
</table>
</div>