<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226; BRACKETS 32</h1></td>
  </tr>
</table>
</div>
<div id="maincontent">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="150">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r6s1NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s1">$r6s1NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r6s1s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r6m1">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r6s2NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s2">$r6s2NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r6s2s</h5>
            </div></td>
          </tr>
        </table>
      </div></td>
      <td width="150" rowspan="2">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r5s1NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s1">$r5s1NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r5s1s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="70" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r5m1">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r5s2NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s2">$r5s2NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r5s2s</h5>
            </div></td>
          </tr>
        </table>
      </div></td>
      <td width="120" rowspan="4">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r4s1NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s1">$r4s1NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r4s1s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="160" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r4m1">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r4s2NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s2">$r4s2NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r4s2s</h5>
            </div></td>
          </tr>
        </table>
      </div></td>
      <td width="120" rowspan="8">
            <div id="bracketgroup">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r3s1NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r3s1">$r3s1NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r3s1s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="340" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r3m1">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r3s2NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r3s2">$r3s2NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r3s2s</h5>
            </div></td>
          </tr>
        </table>
      </div></td>
      <td width="120" rowspan="16">
       <div id="bracketgroup">
         <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r2s1NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r2s1">$r2s1NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r2s1s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="710" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r2m1">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r2s2NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r2s2">$r2s2NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r2s2s</h5>
            </div></td>
          </tr>
        </table>
      </div></td>
      <td rowspan="16">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r1s1NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r1s1">$r1s1NAME</a></h5>
            </div></td>
          </tr>
        </table>
      </div></td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r6s3NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s3">$r6s3NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r6s3s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r6m2">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r6s4NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s4">$r6s4NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r6s4s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r6s5NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s5">$r6s5NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r6s5s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r6m3">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r6s6NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s6">$r6s6NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r6s6s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
      <td rowspan="2">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r5s3NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r6m15">$r5s3NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r5s3s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="70" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r5m2">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r5s4NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s4">$r5s4NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r5s4s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r6s7NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s7">$r6s7NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r6s7s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r6m4">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r6s8NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s8">$r6s8NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r6s8s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td width="120">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r6s9NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s9">$r6s9NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r6s9s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r6m5">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r6s10NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s10">$r6s10NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r6s10s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
      <td width="120" rowspan="2">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r5s5NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s5">$r5s5NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r5s5s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="70" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r5m3">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r5s6NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s6">$r5s6NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r5s6s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
      <td rowspan="4">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r4s3NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s3">$r4s3NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r4s3s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="160" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r4m2">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r4s4NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s4">$r4s4NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r4s4s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r6s11NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s11">$r6s11NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r6s11s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r6m6">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r6s12NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s9">$r6s12NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r6s12s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r6s13NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s13">$r6s13NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r6s13s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r6m7">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r6s14NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s14">$r6s14NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r6s14s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
      <td rowspan="2">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r5s7NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s7">$r5s7NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r5s7x</h5>
            </div></td>
          </tr>
          <tr>
            <td height="70" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r5m4">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r5s8NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s8">$r5s8NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r5s8s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r6s15NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s15">$r6s15NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r6s15s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r6m8">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r6s16NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s16">$r6s16NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r6s16s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r6s17NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s17">$r6s17NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r6s17s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r6m9">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r6s18NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s18">$r6s18NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r6s18s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
      <td rowspan="2">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r5s9NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s9">$r5s9NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r5s9s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="70" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r5m5">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r5s10NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s10">$r5s10NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r5s10s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
      <td rowspan="4">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r4s5NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s5">$r4s5NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r4s5s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="160" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r4m3">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r4s6NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s1">$r4s6NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r4s6s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
      <td rowspan="8">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r3s3NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r3s3">$r3s3NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r3s3s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="340" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r3m2">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r3s4NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r3s4">$r3s4NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r3s4s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r6s19NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s19">$r6s19NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r6s19s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r6m10">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r6s20NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s20">$r6s20NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r6s20s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r6s21NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s21">$r6s21NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r6s21s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r6m11">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r6s22NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s17">$r6s22NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r6s22s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
      <td rowspan="2">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r5s11NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s11">$r5s11NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r5s11s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="70" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r5m6">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r5s12NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s12">$r5s12NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r5s12s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r6s23NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s23">$r6s23NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r6s2s3</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r6m12">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r6s24NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s19">$r6s24NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r6s24s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r6s25NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s25">$r6s25NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r6s25s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r6m13">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r6s26NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s26">$r6s26NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r6s26s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
      <td rowspan="2">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r5s13NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s13">$r5s13NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r5s13s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="70" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r5m7">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r5s14NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s14">$r5s14NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r5s14s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
      <td rowspan="4">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r4s7NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s7">$r4s7NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r4s7s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="160" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r4m4">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r4s8NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s2">$r4s8NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r4s8s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r6s27NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s27">$r6s27NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r6s27s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r6m14">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r6s28NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s28">$r6s28NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r6s28s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r6s29NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s29">$r6s29NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r6s29s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r6m15">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r6s30NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s30">$r6s30NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r6s30s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
      <td rowspan="2">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r5s15NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s15">$r5s15NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r5s15s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="70" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r5m8">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r5s16NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r5s16">$r5s16NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r5s16s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r6s31NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s31">$r6s31NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r6s31s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r6m16">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r6s32NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r6s32">$r6s32NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r6s32s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
  </table>
</div>
<script type=text/javascript> 
function changeon(x) {
	var classname = x.className;
	if (classname) {
		divs=document.getElementsByTagName("DIV"); 
		for (theDiv in divs) { 
			if (divs[theDiv].className==classname) divs[theDiv].id="bracketfieldselected";
		}
	}
}
function changeoff(x) {
	var classname = x.className;
	if (classname) {
		divs=document.getElementsByTagName("DIV"); 
		for (theDiv in divs) { 
			if (divs[theDiv].className==classname) divs[theDiv].id="bracketfield";
		}
	}
}
</script> 