<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226; 1nd ROUND</h1></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s1'>$r5s1NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s2'>$r5s2NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m1'">view</button></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s3'>$r5s3NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s4'>$r5s4NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m2'">view</button></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s5'>$r5s5NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s6'>$r5s6NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m3'">view</button></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s7'>$r5s7NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s8'>$r5s8NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m4'">view</button></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s9'>$r5s9NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s10'>$r5s10NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m5'">view</button></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s11'>$r5s11NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s12'>$r5s12NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m6'">view</button></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s13'>$r5s13NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s14'>$r5s14NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m7'">view</button></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s15'>$r5s15NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s16'>$r5s16NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m8'">view</button></td>
  </tr>
</table>
</div>
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226; 2rd ROUND</h1></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s1'>$r4s1NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s2'>$r4s2NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m1'">view</button></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s3'>$r4s3NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s4'>$r4s4NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m2'">view</button></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s5'>$r4s5NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s6'>$r4s6NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m3'">view</button></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s7'>$r4s7NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s8'>$r4s8NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m4'">view</button></td>
  </tr>
</table>
</div>
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226; 3th ROUND</h1></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s1'>$r2s1NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s2'>$r2s2NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m1'">view</button></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s3'>$r2s3NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s4'>$r2s4NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m2'">view</button></td>
  </tr>
</table>
</div>
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226; 4th ROUND</h1></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s1'>$r1s1NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s2'>$r1s2NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m1'">view</button></td>
  </tr>
</table>
</div>