<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226; BRACKETS 8</h1></td>
  </tr>
</table>
</div>
<div id="maincontent">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="150">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r4s1NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s1">$r4s1NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r4s1s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r4m1">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r4s2NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s2">$r4s2NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r4s2s</h5>
            </div></td>
          </tr>
        </table>
      </div></td>
      <td width="150" rowspan="2">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r3s1NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r3s1">$r3s1NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r3s1s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="70" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r3m1">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r3s2NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r3s2">$r3s2NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r3s2s</h5>
            </div></td>
          </tr>
        </table>
      </div></td>
      <td width="120" rowspan="4">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r2s1NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r2s1">$r2s1NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r2s1s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="160" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r2m1">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r2s2NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r2s2">$r2s2NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r2s2s</h5>
            </div></td>
          </tr>
        </table>
      </div></td>
      <td width="150" rowspan="16">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r1s1NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r1s1">$r1s1NAME</a></h5>
            </div></td>
          </tr>
        </table>
      </div></td>
      <td rowspan="16">&nbsp;</td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r4s3NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s3">$r4s3NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r4s3s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r4m2">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r4s4NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s4">$r4s4NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r4s4s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r4s5NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s5">$r4s5NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r4s5s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r4m3">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r4s6NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s6">$r4s6NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r4s6s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
      <td rowspan="2">
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r3s3NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r3s3">$r3s3NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r3s3s</h5>
            </div></td>
          </tr>
          <tr>
            <td height="70" align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r3m2">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r3s4NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r3s4">$r3s4NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r3s4s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
      <td>
      <div id="bracketgroup">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100"><div id="bracketfield" class="$r4s7NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s7">$r4s7NAME</a></h5>
            </div></td>
            <td width="10" align="center"><div id="bracketfield">
              <h5>$r4s7s</h5>
            </div></td>
          </tr>
          <tr>
            <td align="right"><div id="bracketdetails"><h5><a href="index.php?site=tournamentmatch&amp;tournamentID=$tournamentID&amp;bracketID=r4m4">details</a></h5>
            </div></td>
            <td align="center"><h5>&nbsp;</h5></td>
          </tr>
          <tr>
            <td><div id="bracketfield" class="$r4s8NAME" onmouseover="changeon(this)" onmouseout="changeoff(this)"><h5><a href="index.php?site=teaminfo&amp;teamID=$r4s8">$r4s8NAME</a></h5>
            </div></td>
            <td align="center"><div id="bracketfield">
              <h5>$r4s8s</h5>
            </div></td>
          </tr>
        </table>
      </div>      </td>
    </tr>
    <tr>
    </tr>
    <tr>    </tr>
  </table>
</div>
<script type=text/javascript> 
function changeon(x) {
	var classname = x.className;
	if (classname) {
		divs=document.getElementsByTagName("DIV"); 
		for (theDiv in divs) { 
			if (divs[theDiv].className==classname) divs[theDiv].id="bracketfieldselected";
		}
	}
}
function changeoff(x) {
	var classname = x.className;
	if (classname) {
		divs=document.getElementsByTagName("DIV"); 
		for (theDiv in divs) { 
			if (divs[theDiv].className==classname) divs[theDiv].id="bracketfield";
		}
	}
}
</script> 