<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226; 1st ROUND</h1></td>
  </tr>
</table>
</div>
<div id='list' style='$r6m1style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s1'>$r6s1NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s2'>$r6s2NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m1'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r6m2style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s3'>$r6s3NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s4'>$r6s4NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m2'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r6m3style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s5'>$r6s5NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s6'>$r6s6NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m3'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r6m4style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s7'>$r6s7NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s8'>$r6s8NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m4'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r6m5style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s9'>$r6s9NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s10'>$r6s10NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m5'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r6m6style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s11'>$r6s11NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s12'>$r6s12NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m6'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r6m7style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s13'>$r6s13NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s14'>$r6s14NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m7'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r6m8style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s15'>$r6s15NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s16'>$r6s16NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m8'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r6m9style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s17'>$r6s17NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s18'>$r6s18NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m9'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r6m10style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s19'>$r6s19NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s20'>$r6s20NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m10'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r6m11style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s21'>$r6s21NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s22'>$r6s22NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m11'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r6m12style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s23'>$r6s23NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s24'>$r6s24NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m12'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r6m13style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s25'>$r6s25NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s26'>$r6s26NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m13'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r6m14style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s27'>$r6s27NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s28'>$r6s28NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m14'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r6m15style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s29'>$r6s29NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s30'>$r6s30NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m15'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r6m16style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s31'>$r6s31NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s32'>$r6s32NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m16'">view</button></td>
  </tr>
</table>
</div>
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226; 2nd ROUND</h1></td>
  </tr>
</table>
</div>
<div id='list' style='$r5m1style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s1'>$r5s1NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s2'>$r5s2NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m1'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r5m2style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s3'>$r5s3NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s4'>$r5s4NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m2'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r5m3style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s5'>$r5s5NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s6'>$r5s6NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m3'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r5m4style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s7'>$r5s7NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s8'>$r5s8NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m4'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r5m5style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s9'>$r5s9NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s10'>$r5s10NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m5'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r5m6style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s11'>$r5s11NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s12'>$r5s12NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m6'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r5m7style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s13'>$r5s13NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s14'>$r5s14NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m7'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r5m8style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s15'>$r5s15NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s16'>$r5s16NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m8'">view</button></td>
  </tr>
</table>
</div>
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226; 3rd ROUND</h1></td>
  </tr>
</table>
</div>
<div id='list' style='$r4m1style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s1'>$r4s1NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s2'>$r4s2NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m1'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r4m2style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s3'>$r4s3NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s4'>$r4s4NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m2'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r4m3style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s5'>$r4s5NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s6'>$r4s6NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m3'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r4m4style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s7'>$r4s7NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s8'>$r4s8NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m4'">view</button></td>
  </tr>
</table>
</div>
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226; 4th ROUND</h1></td>
  </tr>
</table>
</div>
<div id='list' style='$r3m1style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s1'>$r2s1NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s2'>$r2s2NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m1'">view</button></td>
  </tr>
</table>
</div>
<div id='list' style='$r3m2style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s3'>$r2s3NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s4'>$r2s4NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m2'">view</button></td>
  </tr>
</table>
</div>
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226; 5th ROUND</h1></td>
  </tr>
</table>
</div>
<div id='list' style='$r2m1style'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s1'>$r1s1NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s2'>$r1s2NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m1'">view</button></td>
  </tr>
</table>
</div>