<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226; TOURNAMENT</h1></td>
  </tr>
</table>
</div>
<div id="maincontent">
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td width="100"><h4>Game:</h4></td>
    <td><h5>$title</h5></td>
    <td width="400" rowspan="4">
      <div style="width:400px; height:50px; background-image: url(./images/games/$pic); padding: 5px; border:1px solid #555555; border-radius:10px; box-shadow: 3px 3px 5px #000000;"></div>    </td>
  </tr>
  <tr>
    <td><h4>Gamemode:</h4></td>
    <td><h5>$gamemode</h5></td>
  </tr>
  <tr>
    <td><h4>Size:</h4></td>
    <td><h5>$size teams</h5></td>
  </tr>
  <tr>
    <td><h4>Status:</h4></td>
    <td><h5>$signups</h5></td>
  </tr>
  <tr>
    <td><h4>Sign up period:</h4></td>
    <td> <h5>$signupOPEN - $signupCLOSED</h5></td>
    <td align="right"><h5>&nbsp;</h5></td>
  </tr>
  <tr>
    <td><h4> Starts:</h4></td>
    <td><h5>$start</h5></td>
    <td align="right">&nbsp;</td>
  </tr>
  <tr>
    <td><h4>Prizes:</h4></td>
    <td colspan="2"><h5><img src="./images/icons/award_gold.png" width="13" height="17" /> $prize1 <img src="./images/icons/award_silver.png" width="13" height="17" /> $prize2 <img src="./images/icons/award_bronze.png" width="13" height="17" /> $prize3</h5></td>
  </tr>
</table>
<div id="submenu">
      <ul>
        <li><a href="index.php?site=tournamentedit&amp;tournamentID=$tournamentID&amp;action=brackets" title="Home">BRACKETS</a></li>
        <li><a href="index.php?site=tournamentedit&amp;tournamentID=$tournamentID&amp;action=matches" title="New">MATCHES</a></li>
      </ul>
    </div>
</div>