<form action="index.php?site=tournamentedit&tournamentID=$tournamentID&action=brackets" method="post"> 
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226; BRACKETS 16 teams</h1></td>
  </tr>
</table>
</div>
<div id="maincontent">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="100"><h5>Spot 1</h5></td>
      <td><select  name="r5s1" id="$r5s1"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 2</h5></td>
      <td><select  name="r5s2" id="$r5s2"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 3</h5></td>
      <td><select  name="r5s3" id="$r5s3"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 4</h5></td>
      <td><select  name="r5s4" id="$r5s4"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 5</h5></td>
      <td><select  name="r5s5" id="$r5s5"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 6</h5></td>
      <td><select  name="r5s6" id="$r5s6"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 7</h5></td>
      <td><select  name="r5s7" id="$r5s7"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 8</h5></td>
      <td><select  name="r5s8" id="$r5s8"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 9</h5></td>
      <td><select  name="r5s9" id="$r5s9"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 10</h5></td>
      <td><select  name="r5s10" id="$r5s10"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 11</h5></td>
      <td><select  name="r5s11" id="$r5s11"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 12</h5></td>
      <td><select  name="r5s12" id="$r5s12"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 13</h5></td>
      <td><select  name="r5s13" id="$r5s13"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 14</h5></td>
      <td><select  name="r5s14" id="$r5s14"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 15</h5></td>
      <td><select  name="r5s15" id="$r5s15"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 16</h5></td>
      <td><select  name="r5s16" id="$r5s16"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h4>&nbsp;</h4></td>
      <td><input type="submit" name="set16" id="set16" value="set brackets" /></td>
    </tr>
  </table>
</div>
</form>
<script>
	var r5s1element = document.getElementsByName("r5s1"); var id = r5s1element[0].getAttribute("id"); document.getElementsByName("r5s1")[0].value=id;
	var r5s2element = document.getElementsByName("r5s2"); var id = r5s2element[0].getAttribute("id"); document.getElementsByName("r5s2")[0].value=id;
	var r5s3element = document.getElementsByName("r5s3"); var id = r5s3element[0].getAttribute("id"); document.getElementsByName("r5s3")[0].value=id;
	var r5s4element = document.getElementsByName("r5s4"); var id = r5s4element[0].getAttribute("id"); document.getElementsByName("r5s4")[0].value=id;
	var r5s5element = document.getElementsByName("r5s5"); var id = r5s5element[0].getAttribute("id"); document.getElementsByName("r5s5")[0].value=id;
	var r5s6element = document.getElementsByName("r5s6"); var id = r5s6element[0].getAttribute("id"); document.getElementsByName("r5s6")[0].value=id;
	var r5s7element = document.getElementsByName("r5s7"); var id = r5s7element[0].getAttribute("id"); document.getElementsByName("r5s7")[0].value=id;
	var r5s8element = document.getElementsByName("r5s8"); var id = r5s8element[0].getAttribute("id"); document.getElementsByName("r5s8")[0].value=id;
	var r5s9element = document.getElementsByName("r5s9"); var id = r5s9element[0].getAttribute("id"); document.getElementsByName("r5s9")[0].value=id;
	var r5s10element = document.getElementsByName("r5s10"); var id = r5s10element[0].getAttribute("id"); document.getElementsByName("r5s10")[0].value=id;
	var r5s11element = document.getElementsByName("r5s11"); var id = r5s11element[0].getAttribute("id"); document.getElementsByName("r5s11")[0].value=id;
	var r5s12element = document.getElementsByName("r5s12"); var id = r5s12element[0].getAttribute("id"); document.getElementsByName("r5s12")[0].value=id;
	var r5s13element = document.getElementsByName("r5s13"); var id = r5s13element[0].getAttribute("id"); document.getElementsByName("r5s13")[0].value=id;
	var r5s14element = document.getElementsByName("r5s14"); var id = r5s14element[0].getAttribute("id"); document.getElementsByName("r5s14")[0].value=id;
	var r5s15element = document.getElementsByName("r5s15"); var id = r5s15element[0].getAttribute("id"); document.getElementsByName("r5s15")[0].value=id;
	var r5s16element = document.getElementsByName("r5s16"); var id = r5s16element[0].getAttribute("id"); document.getElementsByName("r5s16")[0].value=id;
</script>