<form action="index.php?site=tournamentedit&tournamentID=$tournamentID&action=brackets" method="post">  
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226; BRACKETS 32 teams</h1></td>
  </tr>
</table>
</div>
<div id="maincontent">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="100"><h5>Spot 1</h5></td>
      <td><select  name="r6s1" id="$r6s1"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 2</h5></td>
      <td><select  name="r6s2" id="$r6s2"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 3</h5></td>
      <td><select  name="r6s3" id="$r6s3"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 4</h5></td>
      <td><select  name="r6s4" id="$r6s4"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 5</h5></td>
      <td><select  name="r6s5" id="$r6s5"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 6</h5></td>
      <td><select  name="r6s6" id="$r6s6"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 7</h5></td>
      <td><select  name="r6s7" id="$r6s7"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 8</h5></td>
      <td><select  name="r6s8" id="$r6s8"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 9</h5></td>
      <td><select  name="r6s9" id="$r6s9"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 10</h5></td>
      <td><select  name="r6s10" id="$r6s10"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 11</h5></td>
      <td><select  name="r6s11" id="$r6s11"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 12</h5></td>
      <td><select  name="r6s12" id="$r6s12"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 13</h5></td>
      <td><select  name="r6s13" id="$r6s13"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 14</h5></td>
      <td><select  name="r6s14" id="$r6s14"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 15</h5></td>
      <td><select  name="r6s15" id="$r6s15"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 16</h5></td>
      <td><select  name="r6s16" id="$r6s16"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 17</h5></td>
      <td><select  name="r6s17" id="$r6s17"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 18</h5></td>
      <td><select  name="r6s18" id="$r6s18"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 19</h5></td>
      <td><select  name="r6s19" id="$r6s19"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 20</h5></td>
      <td><select  name="r6s20" id="$r6s20"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 21</h5></td>
      <td><select  name="r6s21" id="$r6s21"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 22</h5></td>
      <td><select  name="r6s22" id="$r6s22"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 23</h5></td>
      <td><select  name="r6s23" id="$r6s23"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 24</h5></td>
      <td><select  name="r6s24" id="$r6s24"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 25</h5></td>
      <td><select  name="r6s25" id="$r6s25"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 26</h5></td>
      <td><select  name="r6s26" id="$r6s26"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 27</h5></td>
      <td><select  name="r6s27" id="$r6s27"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 28</h5></td>
      <td><select  name="r6s28" id="$r6s28"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 29</h5></td>
      <td><select  name="r6s29" id="$r6s29"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 30</h5></td>
      <td><select  name="r6s30" id="$r6s30"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 31</h5></td>
      <td><select  name="r6s31" id="$r6s31"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h5>Spot 32</h5></td>
      <td><select  name="r6s32" id="$r6s32"><option value="0">select</option>$teamLIST</select></td>
    </tr>
    <tr>
      <td><h4>&nbsp;</h4></td>
      <td><input type="submit" name="set32" id="set32" value="set brackets" /></td>
    </tr>
  </table>
</div>
</form>
<script>
	var r6s1element = document.getElementsByName("r6s1"); var id = r6s1element[0].getAttribute("id"); document.getElementsByName("r6s1")[0].value=id;
	var r6s2element = document.getElementsByName("r6s2"); var id = r6s2element[0].getAttribute("id"); document.getElementsByName("r6s2")[0].value=id;
	var r6s3element = document.getElementsByName("r6s3"); var id = r6s3element[0].getAttribute("id"); document.getElementsByName("r6s3")[0].value=id;
	var r6s4element = document.getElementsByName("r6s4"); var id = r6s4element[0].getAttribute("id"); document.getElementsByName("r6s4")[0].value=id;
	var r6s5element = document.getElementsByName("r6s5"); var id = r6s5element[0].getAttribute("id"); document.getElementsByName("r6s5")[0].value=id;
	var r6s6element = document.getElementsByName("r6s6"); var id = r6s6element[0].getAttribute("id"); document.getElementsByName("r6s6")[0].value=id;
	var r6s7element = document.getElementsByName("r6s7"); var id = r6s7element[0].getAttribute("id"); document.getElementsByName("r6s7")[0].value=id;
	var r6s8element = document.getElementsByName("r6s8"); var id = r6s8element[0].getAttribute("id"); document.getElementsByName("r6s8")[0].value=id;
	var r6s9element = document.getElementsByName("r6s9"); var id = r6s9element[0].getAttribute("id"); document.getElementsByName("r6s9")[0].value=id;
	var r6s10element = document.getElementsByName("r6s10"); var id = r6s10element[0].getAttribute("id"); document.getElementsByName("r6s10")[0].value=id;
	var r6s11element = document.getElementsByName("r6s11"); var id = r6s11element[0].getAttribute("id"); document.getElementsByName("r6s11")[0].value=id;
	var r6s12element = document.getElementsByName("r6s12"); var id = r6s12element[0].getAttribute("id"); document.getElementsByName("r6s12")[0].value=id;
	var r6s13element = document.getElementsByName("r6s13"); var id = r6s13element[0].getAttribute("id"); document.getElementsByName("r6s13")[0].value=id;
	var r6s14element = document.getElementsByName("r6s14"); var id = r6s14element[0].getAttribute("id"); document.getElementsByName("r6s14")[0].value=id;
	var r6s15element = document.getElementsByName("r6s15"); var id = r6s15element[0].getAttribute("id"); document.getElementsByName("r6s15")[0].value=id;
	var r6s16element = document.getElementsByName("r6s16"); var id = r6s16element[0].getAttribute("id"); document.getElementsByName("r6s16")[0].value=id;
	var r6s17element = document.getElementsByName("r6s17"); var id = r6s17element[0].getAttribute("id"); document.getElementsByName("r6s17")[0].value=id;
	var r6s18element = document.getElementsByName("r6s18"); var id = r6s18element[0].getAttribute("id"); document.getElementsByName("r6s18")[0].value=id;
	var r6s19element = document.getElementsByName("r6s19"); var id = r6s19element[0].getAttribute("id"); document.getElementsByName("r6s19")[0].value=id;
	var r6s20element = document.getElementsByName("r6s20"); var id = r6s20element[0].getAttribute("id"); document.getElementsByName("r6s20")[0].value=id;
	var r6s21element = document.getElementsByName("r6s21"); var id = r6s21element[0].getAttribute("id"); document.getElementsByName("r6s21")[0].value=id;
	var r6s22element = document.getElementsByName("r6s22"); var id = r6s22element[0].getAttribute("id"); document.getElementsByName("r6s22")[0].value=id;
	var r6s23element = document.getElementsByName("r6s23"); var id = r6s23element[0].getAttribute("id"); document.getElementsByName("r6s23")[0].value=id;
	var r6s24element = document.getElementsByName("r6s24"); var id = r6s24element[0].getAttribute("id"); document.getElementsByName("r6s24")[0].value=id;
	var r6s25element = document.getElementsByName("r6s25"); var id = r6s25element[0].getAttribute("id"); document.getElementsByName("r6s25")[0].value=id;
	var r6s26element = document.getElementsByName("r6s26"); var id = r6s26element[0].getAttribute("id"); document.getElementsByName("r6s26")[0].value=id;
	var r6s27element = document.getElementsByName("r6s27"); var id = r6s27element[0].getAttribute("id"); document.getElementsByName("r6s27")[0].value=id;
	var r6s28element = document.getElementsByName("r6s28"); var id = r6s28element[0].getAttribute("id"); document.getElementsByName("r6s28")[0].value=id;
	var r6s29element = document.getElementsByName("r6s29"); var id = r6s29element[0].getAttribute("id"); document.getElementsByName("r6s29")[0].value=id;
	var r6s30element = document.getElementsByName("r6s30"); var id = r6s30element[0].getAttribute("id"); document.getElementsByName("r6s30")[0].value=id;
	var r6s31element = document.getElementsByName("r6s31"); var id = r6s31element[0].getAttribute("id"); document.getElementsByName("r6s31")[0].value=id;
	var r6s32element = document.getElementsByName("r6s32"); var id = r6s32element[0].getAttribute("id"); document.getElementsByName("r6s32")[0].value=id;
</script>