<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226; 3rd ROUND</h1></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s1'>$r4s1NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s2'>$r4s2NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m1'">view</button></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s3'>$r4s3NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s4'>$r4s4NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m2'">view</button></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s5'>$r4s5NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s6'>$r4s6NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m3'">view</button></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s7'>$r4s7NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s8'>$r4s8NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m4'">view</button></td>
  </tr>
</table>
</div>
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226; 4th ROUND</h1></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s1'>$r2s1NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s2'>$r2s2NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m1'">view</button></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s3'>$r2s3NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s4'>$r2s4NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m2'">view</button></td>
  </tr>
</table>
</div>
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226; 5th ROUND</h1></td>
  </tr>
</table>
</div>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td><h5><a href='index.php?site=teaminfo&teamID=$r6s1'>$r1s1NAME</a> versus <a href='index.php?site=teaminfo&teamID=$r6s2'>$r1s2NAME</a></h5></td>
    <td width='100' align='right'><button type='button' onclick="window.location='index.php?site=tournamentmatch&tournamentID=$tournamentID&bracketID=r6m1'">view</button></td>
  </tr>
</table>
</div>