<form action="index.php?site=tournamentinfo&amp;tournamentID=$tournamentID&amp;action=signup" method="post">
<div id="maintitle">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>&#8226;  TOURNAMENT SIGN UP</h1></td>
  </tr>
</table>
</div>
<div id="maincontent">
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td width="150"><h4>Team:</h4></td>
    <td><select name="teamIDlist" id="teamIDlist">$teamLIST</select></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="join" id="join" value="join" /></td>
  </tr>
</table>
</div>
</form>