<div id='list'>
<table width='100%' border='0' cellpadding='1' cellspacing='1'>
  <tr>
    <td width='50' align='center'><h5>$gameID</h5></td>
    <td><h5>&nbsp;<span class="h3">$title</span></h5></td>
    <td width='50' align='center'><FORM><INPUT type="button" value="edit" onClick="window.location='./admincp.php?site=gamesedit&action=edit&gameID=$gameID'">
    </FORM></td>
    <td width='60' align='center'><form><input type="button" value="delete" onclick="window.location='./gamesedit.php?action=delete&amp;gameID=$gameID'" />
    </form></td>
  </tr>
</table>
</div>