<div id='list'>
<table width='100%' border='0' cellpadding='1' cellspacing='1'>
  <tr>
    <td width='50' align='center'><h5>$ladderID</h5></td>
    <td><h5>&nbsp;$title</h5></td>
    <td width='80' align='center'><h5>$date</h5></td>
    <td width='50' align='center'><FORM><INPUT type="button" value="edit" onClick="window.location='./admincp.php?site=laddersedit&action=edit&ladderID=$ladderID'"></FORM>
    </td>
    <td width='60' align='center'><FORM><input type="button" value="delete" onclick="window.location='./laddersedit.php?action=delete&amp;ladderID=$ladderID'" /></FORM>
    </td>
  </tr>
</table>
</div>