<div id='list'>
<table width='100%' border='0' cellpadding='1' cellspacing='1'>
  <tr>
    <td width='50' align='center'><h5>$newsID</h5></td>
    <td><h5>&nbsp;$title [$newsauthor]</h5></td>
    <td width='80' align='center'><h5>$date</h5></td>
    <td width='50' align='center'><form><input type="button" value="edit" onclick="window.location='./admincp.php?site=newsedit&amp;action=edit&amp;newsID=$newsID'"/></form>
    </td>
    <td width='60' align='center'><form><input type="button" value="delete" onclick="window.location='./newsedit.php?action=delete&amp;newsID=$newsID'"/></form>
    </td>
  </tr>
</table>
</div>