<div id='list'>
<table width='100%' border='0' cellpadding='1' cellspacing='1'>
  <tr>
    <td align='left'><h5>$gameTITLE</h5></td>
    <td width='120' align='right'><h5>$adminDATE</h5></td>
    <td width='60' align='right'>
        <form action='personedit.php' method='post'>
          <input name='memberID' type='hidden' id='memberID' value='$memberID'>
          <input name='gameadminID' type='hidden' id='gameadminID' value='$gameadminID'>
          <input type='submit' name='delete' id='delete' value='delete'>
        </form>
     </td>
  </tr>
</table>
</div>