<div id='list'>
<table width='100%' border='0' cellpadding='1' cellspacing='1'>
  <tr>
	<td width='50' align='left'><h5>$memberID</h5></td>
	<td align='left'><h5>&nbsp;<a href='../index.php?site=personinfo&pid=$memberID' target='_blank'>$nickname</a></h5></td>
	<td width='200' align='center'><h5>$country</h5></td>
	<td width='200' align='center'><h5>$gender</h5></td>
	<td width='100' align='right'><form><input type='button' value='edit' onclick='window.location="./admincp.php?site=personedit&amp;memberID=$memberID"'/></form>
  </tr>
</table>
</div>