<form method='post' action='index.php?site=bans'>
<div id='list'>
<table width='100%' border='0' cellspacing='1' cellpadding='0'>
  <tr>
    <td width='50'><h5>$banID</h5></td>
    <td width="150" align="left"><h5><a href="index.php?site=personinfo&amp;pid=$memberID">$memberNAME</a></h5></td>
    <td><h5>$reason <input name='banID' type='hidden' id='banID' value='$banID' /></h5></td>
    <td width='120' align='right'><h5>$expire</h5></td>
    <td width='50' align='right'><h5>$deleteB</h5></td>
  </tr>
</table>
</div>
</form>