<div id='list'>
<table width='100%' border='0' cellpadding='1' cellspacing='1'>
  <tr>
    <td align='left'><h5>&nbsp;<a href='index.php?site=ladderinfo&ladderID=$ladderID&action=ranking'>$ladderTITLE</a></h5></td>
    <td width='150' align='left'><h5>  #1 holder <a href="index.php?site=teaminfo&amp;teamID=$number1teamID">$team1NAME</a></h5></td>
    <td width='50' align='left'><h5>$gamemode</h5></td>
    <td width='120' align='right'><h5><span class="green">$active</span> active teams</h5></td>
    <td width='60' align='right'><button type='button' onclick="window.location='index.php?site=ladderinfo&ladderID=$ladderID&action=ranking'">view</button></td>
  </tr>
</table>
</div>