<form action='index.php?site=comments' method='post'>
<div id='commentcotent'>
	<div id='commentbutton'>
    	<input name='commentID' type='hidden' id='commentID' value='$commentID' />
    	<input name='section' type='hidden' id='section' value='$section' />
    	<input name='id' type='hidden' id='id' value='$matchID' />
    	$deleteB
	</div>
	<div id='commentitle'><h4><a href='index.php?site=personinfo&pid=$memberID'>$memberNAME</a> on $date</h4></div>
	<div id='commenttext'><h5>$content</h5></div>
</div>
</form>