<div id="maincontent">
<table width="100%" border="0" cellspacing="2" cellpadding="2">
  <tr>
    <td width="200"><h4>Nickname:</h4></td>
    <td><h4><a href="index.php?site=personinfo&amp;pid=$memberID">$nickname</a> - <span style="color: #00FFFF;">$admintitle</span></h4></td>
    <td width="90" rowspan="4">
<div style="width:80px; height:80px; background-image: url(images/avatars/$avatarURL); padding: 5px; border:3px solid #777777; border-radius:10px; box-shadow: 3px 3px 5px #000000;"></div>	</td>
  </tr>
  <tr>
    <td><h4>Gender:</h4></td>
    <td><h4>$gender</h4></td>
  </tr>
  <tr>
    <td><h4>Country:</h4></td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="30"><div style="width:16px; height:11px; background-image: url(images/flags/$countryCODE.gif); border:2px solid #777777; border-radius:5px; box-shadow: 1px 1px 3px #000000;"></div></td>
        <td><h4>$countryNAME</h4></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><h4>Member since: </h4></td>
    <td><h4>$membersince</h4></td>
  </tr>
  <tr>
    <td><h4>Status:</h4></td>
    <td>$userSTATUS</td>
    <td align="center">$messageB</td>
  </tr>
</table>
</div>