<div id='list'>
<table width='100%' border='0' cellpadding='1' cellspacing='1'>
  <tr>
    <td width='50' align='center'><h5><a href='index.php?site=match&matchID=$matchID'>$matchID</a></h5></td>
    <td width='120' align='left'><h5>$date</h5></td>
    <td align='left'><h5><a href='index.php?site=teaminfo&teamID=$opponentID'>$opponentNAME</a></h5></td>
    <td width='250' align='left'><h5>$map1TITLE - $map2TITLE</h5></td>
    <td width='150' align='center' bgcolor='$bgcolor'><h5>$score</h5></td>
    <td width='50' align='center'><h5>$points</h5></td>
    <td width='40' align='center'><button onclick="location.href='index.php?site=match&matchID=$matchID'">view</button></td>
  </tr>
</table>
</div>