<div id='list'>
<table width='100%' border='0' cellpadding='1' cellspacing='1'>
  <tr>
    <td width='40' align='left'><h5>$rank</h5></td>
    <td><h5><a href='index.php?site=teaminfo&amp;teamID=$teamID'>$teamNAME</a></h5></td>
    <td width='80' align='center'>$graph</td>
    <td width='30' align='center'><h5>$win</h5></td>
    <td width='30' align='center'><h5>$draw</h5></td>
    <td width='30' align='center'><h5>$lose</h5></td>
    <td width='60' align='center'><h5>$points</h5></td>
    <td width='30' align='center'><h5>$chB</h5></td>
  </tr>
</table>
</div>