<div id='list'>
<table width='100%' border='0' cellpadding='1' cellspacing='1'>
  <tr>
    <td align='left'><h5>&nbsp;<a href="index.php?site=tournamentinfo&amp;tournamentID=$tournamentID">$title</a> [$gamemode]</h5></td>
    <td align='right'><h5>$gameTITLE</h5></td>
    <td width='80' align='right'><h5>$signups</h5></td>
    <td width='70' align='right'><h5>$size teams</h5></td>
    <td width='60' align='right'><button type='button' onclick="window.location='index.php?site=tournamentinfo&amp;tournamentID=$tournamentID'">view</button></td>
    <td width='1' align='right'>$admin</td>
  </tr>
</table>
</div>